<h1>Nova Tarefa</h1>

<%# Renderiza o formulário compartilhado (_form), reaproveitando código entre new e edit %>
<%= render "form", task: @task %>

<!-- Link para retornar à lista de tarefas -->
<%= link_to "Voltar", tasks_path %>